# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `.title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다. + 나머지는 모두 소문자

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [6]:
words = "hI! evEryone, I'm kim"
# 아래에 코드를 작성하세요.

In [8]:
# cap = words.capitalize()
# title = words.title()
# title
upper = words.upper()
print(upper)
# lower = upper.lower()
# lower

HI! EVERYONE, I'M KIM

### `.lower()`, `.swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

In [ ]:
words = "hI! Everyone, I'm kim"

swapcase = words.swapcase()
swapcase

words
# 아래에 코드를 작성하세요.

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다. ==> 문자 사이사이에 자주 사용 됨

In [4]:
# 아래에 코드를 작성하세요.
exc = '!'
'!'.join('배고파')

'-'.join(['hi', 'Hello'])
'#'.join(['월요일', '졸리다', 'python', 'ssafy'])

'월요일#졸리다#python#ssafy'

### `.replace(old, new[, count])` 대괄호 안에 있는 것은 옵션(없는 것은 필수요소)

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [2]:
# 아래에 코드를 작성하세요.
a = 'yayayayayaya!'.replace('a','_')

print(a)
'wwoooooooooooo'.replace('o','',8)

y_y_y_y_y_y_!

'wwoooo'

### 글씨 제거 (`.strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'                 oh!\n'.strip()

In [ ]:
'        oh!       '.lstrip()

In [ ]:
'        oh!       '.rstrip()

In [ ]:
'        oh!       '.lstrip()

In [ ]:
print('hehehehehihihihi'.rstrip('hi'))
print('hehehehehihihihi'.lstrip('he'))

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'apple'.find('p')

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 뜹니다.

In [ ]:
'apple'.index('p')

# 아래에 코드를 작성하세요.

## `split()`

'문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [4]:
'a b c'.split()
'a-b-c'.split('-')

insta = '#월요일 #밥시간 #미세먼지 #아아아 오늘은!'
words = insta.split()
hashtag = []
for word in words:
    print(word[1])
    if word[0] == '#':
        hashtag.append(word[1:])
print(hashtag)

월
밥
미
아
늘
['월요일', '밥시간', '미세먼지', '아아아']

### 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .issuper(), .istitle(), .islower()
```

```python
dir('string')
```

In [ ]:
dir(1) # 자료형이 중요

---

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [ ]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

In [ ]:
caffe.append('ediya')
caffe
# 값을 추가해봅시다.

In [ ]:
# 어렵게 넣어보도록 해봅시다.

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.
caffe.extend(['droptop', 'baek'])
caffe

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [ ]:
# append와 비교해봅시다.
l1 = []
l2 = []
l1.append(['a','b'])
l2.extend(['a','b'])
print(l1)
print(l2)
l1[0][1]

In [ ]:
l1.append(['coffeenie']) # append는 무조건 하나로 취급한다.
print(l1)
l2.extend('coffeegurunaru') # 주의할것!!!! extend는 안에 것을 분리해서 하나하나 추가한다.
print(l2)

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [1]:
lunches = ['돈까스', '매운닭볶음']

In [2]:
lunches.insert(0, 'pasta')
lunches
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

['pasta', '돈까스', '매운닭볶음']

In [ ]:
lunches.insert(len(lunches), 'salad')
lunches

# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [ ]:
lunches.insert(len(lunches)+100,'배고파')
lunches
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.

### `remove(x)`  return 값 없음

리스트에서 값이 x인 것을 삭제합니다.

In [3]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
numbers.remove(numbers[0])
print(numbers)
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]
[2, 3, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

In [ ]:
# 한번 더 삭제해봅시다.

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [51]:
# pop을 사용해봅시다.
numbers = [1, 2, 3, 4, 5, 6, 1, 1]

In [54]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

numbers.pop(0)

1

In [55]:
numbers

# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

[2, 3, 4, 5, 6, 1]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 1, 1]

print(numbers)

pop_value = numbers.pop()
print(f'{pop_value}가 삭제되어 {numbers}가 남았습니다.')

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [9]:
# index를 사용해봅시다.
numbers = [1, 2, 3, 4, 5]
numbers.index(3)   # ==> 3이라는 요소의 인덱스 값이 얼마인가를 묻는다
numbers.index(100)

ValueError: 100 is not in list

In [8]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)

value = 100

if value in numbers:
    i = numbers.index(100)
else:
    i = -1
print(i)

-1

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [ ]:
# count를 사용해봅시다.
numbers = [1, 2, 5, 1, 5, 1]

In [16]:
# numbers.remove(1)
# numbers
lsls = [[1,2,3],[1,1,1]]
target = 1
for _ in range(lsls[1].count(target)):
    lsls[1].remove(target)
lsls
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

[[1, 2, 3], []]

In [18]:
target in lsls[1]

# 모두 삭제되었는지 검증해봅시다.

False

### `.sort()`

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [12]:
numbers = [5, 5, 4, 3, 4, 6, 1, 2]

print(sorted(numbers))  # return 있음, origin 변화 없음  원본을 바꾸고 싶다면 numbers.sort()를 사용해야한다
print(numbers)
numbers.sort()
print(numbers)

[1, 2, 3, 4, 4, 5, 5, 6]
[5, 5, 4, 3, 4, 6, 1, 2]
[1, 2, 3, 4, 4, 5, 5, 6]

In [5]:
x = numbers.sort()
numbers

[1, 2, 3, 4, 4, 5, 5, 6]

In [7]:
import random
lotto.sort(reverse = True)
for i in range(5):    
    lotto = random.sample(range(1, 46), 6)
    print(sorted(lotto))

[17, 19, 20, 35, 40, 43]
[4, 12, 22, 24, 30, 43]
[2, 15, 27, 37, 40, 44]
[6, 10, 21, 23, 25, 32]
[6, 11, 23, 30, 39, 43]

In [11]:
import random
ls =[1,2,3,4,5,6,7,8,9]
ls.pop(random.choice(ls))
print(ls)

[1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
# sort를 사용해봅시다.

In [ ]:
i = (1, 2, 3)
j = i
# j[0] = 10
i = (100,2,3)
print(i,j)

ls1 = [1,2,3,4]
ls2 = ls1
ls1[0] = 100
print(ls1, ls2)

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [19]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)
classroom.reverse()
print(classroom)

['Tom', 'David', 'Justin']
['Justin', 'David', 'Tom']

In [ ]:
original_list = [1, 2, 3] # 대략 ,가 들어가있으면 포인팅 call by reference, 나머지는 입력 == call by value

copy_list = original_list

print(id(original_list) , id(copy_list))

copy_list[0] = 'a'
print(id(original_list) , id(copy_list))
print(copy_list)
print(original_list)

## 복사

In [20]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

copy_list = original_list
print(copy_list)

[1, 2, 3]

In [14]:
# b의 값을 바꾸고 a를 출력해봅시다.
copy_list[0] = 'a'
print(copy_list)

print(original_list)

['a', 2, 3]
['a', 2, 3]

In [ ]:
# id 값을 확안해봅시다.

In [ ]:
a = 1
b = a
b= 2
print(a,b)
# 숫자를 확인해봅시다.

In [ ]:
# 딕셔너리도 확인해봅시다.

c = {'a' : 1, 'b' : 2}
d = c
d['a'] = 100
print(c, d)

### copy
> pythontutor를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 num이라는 리스트 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [23]:
a = [1,2,3]

b = list(a)

b[2] = 4

print(a, b)

c = [1, 2, 5]

d = c

c[2] = 2

print(c,d)
# 리스트를 복사해봅시다.

[1, 2, 3] [1, 2, 4]
[1, 2, 2] [1, 2, 2]

In [28]:
# 다른 방법으로 복사해봅시다.
import copy
a = [[1,2,3],2,3]
print(a)
b = copy.deepcopy(a)
b[0][1] = 7

print(a)
print(b)

[[1, 2, 3], 2, 3]
[[1, 2, 3], 2, 3]
[[1, 7, 3], 2, 3]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [33]:
import copy


i1 = [1,2,3]
i2 = [4,5,6]

l1 = [i1,i2]
l2 = copy.copy(l1)

l2[0][0] = 100

print(l1, l2)
l2 = copy.deepcopy(l1)
l2[0][0] = 999
print(l1,l2)

a = [
    [1,2,3]
        ,
    [4,5,6]
]

b = copy.copy(a)
print(b)


# 2차원 배열을 복사해봅시다.

[[100, 2, 3], [4, 5, 6]] [[100, 2, 3], [4, 5, 6]]
[[100, 2, 3], [4, 5, 6]] [[999, 2, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6]]

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다.  ==> 쉽게 말해 리스트안에 리스트를 복사하는 방법

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [34]:
# 깊은 복사를 사용해봅시다.

import copy
l1 =[[1,2,3], [4,5,6]]
l2 = copy.deepcopy(l1)

print(l2)

l2[1][2] = 5
print(l1,l2)

i1 = [[1,2,3],[4,5,6]]
i2 = copy.copy(i1)
i2[1][2] = 5
print(i1,i2)

[[1, 2, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6]] [[1, 2, 3], [4, 5, 5]]
[[1, 2, 3], [4, 5, 5]] [[1, 2, 3], [4, 5, 5]]

## `.clear()`

리스트의 모든 항목을 삭제합니다.  ==> 포인팅하는 원본 자체를 없앤다. /// a = [] 경우 아예 새로운 빈 리스트를 만들어버림

In [35]:
# clear를 사용해봅시다.

numbers = list(range(1,46))
numbers.clear()
numbers

[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [ ]:
numbers = range(1,11)

In [ ]:
# 기존의방법
cubic_list = []
for i in numbers:
    cubic_list.append(i**3)
print(cubic_list)

In [ ]:
# List Comprehension

cubic_list = [number**3 for number in numbers]
print(cubic_list)

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
numbers = range(1,11)

In [ ]:
# 기존의방법
evens = []
for num in numbers:
    if num%2 == 0:
        evens.append(num)
print(evens)

In [ ]:
even_list = [number for number in numbers if number%2 ==0]
print(even_list)
# List Comprehension

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [7]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [9]:
# 반복문을 활용하여 만들어주세요.
pair = []

for girl in girls:
    for boy in boys:
        pair.append((boy,girl))

print(pair)

[('justin', 'jane'), ('david', 'jane'), ('kim', 'jane'), ('justin', 'iu'), ('david', 'iu'), ('kim', 'iu'), ('justin', 'mary'), ('david', 'mary'), ('kim', 'mary')]

In [8]:
# List comprehension을 활용하여 만들어주세요.

pairs = [(boy, girl) for boy in boys for girl in girls]

print(pairs)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 만들어주세요.

result = []

for x in range(1,50):
    for y in range(x,50):
        for z in range(1,50):
            if x**2 + y**2 == z**2:
                result.append((x,y,z))
                
print(result)

In [ ]:
# List comprehension을 활용하여 만들어주세요.

result = [(x,y,z) for x in range(1,50) for y in range(x,50) for z in range(y,50) if x**2+y**2 == z**2]
print(result)

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [3]:
# List comprehension을 활용하여 만들어주세요.

words = 'Life is too short, you need python!'
vowels = 'aeiou'


ls1 = []
word = [ls1 for ls1 in words if ls1 not in vowels ]

print(''.join(word))


for word in words:
    if word not in vowels:
        ls1.append(word)
print(''.join(ls1))



#직전결과 == list
#최종결과 == str

Lf s t shrt, y nd pythn!
Lf s t shrt, y nd pythn!

In [ ]:
words = 'Life is too short, you need python!'

In [ ]:
import this

----

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [ ]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}
my_dict.pop('apple')
my_dict

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다
my_dict.pop('melon')

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다
my_dict.pop('melon', -0)

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [37]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict.update(why = '사가')
my_dict

{'apple': '사과', 'banana': '바나나', 'melon': '멜론', 'why': '사가'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [44]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['qwer'] = 'qwer'
print(my_dict)
my_dict['qwer'] = '1234'
print(my_dict)
print(my_dict.get('apple'))

for k,v in my_dict.items():
    print(k,v ,end = '\t')

{'apple': '사과', 'banana': '바나나', 'melon': '멜론', 'qwer': 'qwer'}
{'apple': '사과', 'banana': '바나나', 'melon': '멜론', 'qwer': '1234'}
사과
apple 사과	banana 바나나	melon 멜론	qwer 1234

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [ ]:
# dictionary comprehension
cubic = {x:x**3 for x in range(1,11)}
cubic

new_dict = {key : value for key, value in dusts.items()}

### dictionary comprehension 사용해보기

In [46]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [49]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}

bad_air = {key : value for key,value in dusts.items() if value > 80}
print(bad_air)

{'대전': 82, '중국': 200}

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.

a = 10

result = '큼' if a > 10 else '작음'

grade = { key: ('나쁨' if value > 80 else '보통') for key, value in dusts.items()}
print(grade)

In [ ]:
# elif 도 사용할 수 있습니다.

----

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [ ]:
# add를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.add(('사과','바나나'))
print(fruits)

### `update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [23]:
a = ()
b = [1,2,6,7,8]
a.update(b)
a

AttributeError: 'tuple' object has no attribute 'update'

In [18]:
a = [1,2,3,4,5]
b = set(map(int, a))
b

{1, 2, 3, 4, 5}

In [ ]:
# update를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.update('두리안', '딸기', '바나나')
print(fruits)

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [ ]:
# remove를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

### `discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [ ]:
# discard를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.discard('사과')
print(fruits)

### `pop()`

임의의 원소를 제거해 반환합니다.

In [ ]:
# pop을 사용해봅시다.
fruits = {"사과", "바나나", "수박", "아보카도"}
fruits.pop()
print(fruits)
fruits.pop()
print(fruits)

----

##  `map()`, `zip()`, `filter()`

### `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [ ]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.
chars = []
for number in numbers:
    chars.append(str(number))
''.join(chars)

In [ ]:
# list comprehension
chars = [str(number)  for number in numbers]
''.join(chars)

In [ ]:
chars = map(str, numbers)
list(chars)

In [ ]:
tags = ['오늘', '회식', '월요일']

def make_hashtag(word):
    return '#' + word

make_hashtag('test')
hashtag = list(map(make_hashtag, tags))
print(tags, hashtag)

In [ ]:
chars = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

print(list(map(int,chars)))
num = [int(i) for i in chars]
print(num)

In [ ]:
# list comprehension

* function은 사용자 정의 함수도 가능합니다.

In [ ]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

alp = list(map(cube, range(11)))

### `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [42]:
# 예시를 봅시다.
girls = {'jane' : 10, 'iu' : 99, 'mary': 99}
boys = {'justin' : 99, 'david' : 3740, 'kim' : 1491}

print(zip(girls, boys))

<zip object at 0x000001831FECAA88>

In [13]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

a,b = (1,2)
print(a,b)
my_dict = {}
for girl, boy in zip(girls,boys):
    my_dict[girl] = boy
my_dict

1 2

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [14]:
my_dict = {g : b for g, b in zip(girls, boys)}

my_dict

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

* 아래와 같이 사용가능하다.

In [16]:
a = '가나다'
b = '다나가'

for char_a, char_b in zip(a,b):
    print(char_a + char_b)

가다
나나
다가

In [2]:
d = '1234'
c = 'asd'

list(zip(d,c))

[('1', 'a'), ('2', 's'), ('3', 'd')]

In [24]:
from itertools import zip_longest
a = 'asdf'
b = [1,2]

list(zip_longest(a,b, fillvalue = '고독'))

[('a', 1), ('s', 2), ('d', '고독'), ('f', '고독')]

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

### `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [32]:
# 짝수인지 판단하는 함수를 작성해봅시다.

def is_even(number):
    return number % 2 == 0

numbers = range(1,10)
list(filter(is_even,numbers))

[2, 4, 6, 8]

In [33]:
# 다음의 list comprehension과 동일하다.
[n for n in numbers if n % 2 == 0]
[n for n in numbers if is_even(n)]

[2, 4, 6, 8]

In [ ]:
n % 2 == 0

bool(n % 2) # ==> 홀수 판별식!

In [39]:
phone_numbers = [
    '01012341234',
    '02123456789',
    '010123456789',
    '+82)15785875',
    '01028561214'        
]

def is_valid_phone(phone_number):
    if phone_number[:3]=='010' and len(phone_number) == 11:
            return True 
      

is_valid_phone('01027599356')
list(filter(is_valid_phone, phone_numbers))

['01012341234', '01028561214']

In [50]:

from datetime import datetime, timedelta


def mvdate(a):
    ls1 = []
    d = datetime(2019, 7, 13) 
    for i in range(a):
        b = d + timedelta(weeks= -i)
        ls1.append(b.strftime('%Y%m%d'))

    return ls1

mvdate(50)

TypeError: 'module' object is not callable

In [4]:
for i in range(0, 50):
    d = datetime(2019, 7, 13) - timedelta(weeks=i)
    targetDt = d.strftime("%Y%m%d")
    print(targetDt)

20190713
20190706
20190629
20190622
20190615
20190608
20190601
20190525
20190518
20190511
20190504
20190427
20190420
20190413
20190406
20190330
20190323
20190316
20190309
20190302
20190223
20190216
20190209
20190202
20190126
20190119
20190112
20190105
20181229
20181222
20181215
20181208
20181201
20181124
20181117
20181110
20181103
20181027
20181020
20181013
20181006
20180929
20180922
20180915
20180908
20180901
20180825
20180818
20180811
20180804

In [ ]:
import ramdom